{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-3 mb-5">
    <img class="thumbnail" src="{{ product.image.url }}" />
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr />

      <div class="bottomcard"><button style="width: 80px; font-size: 14px;" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Sepete Ekle</button>
        <a style="font-size: 12px; width:80px;" class="btn btn-outline-success" href="#">Görüntüle</a>
        <h4 style="display: inline-block; float: right">
          <strong>₺{{product.price}}</strong></div>
      </h4>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
